*.py[cod]
multics/hardware/.hardware_state
multics/filesystem/pdd/*
multics/filesystem/udd/*/*/*.mbx
multics/filesystem/udd/*/*/*.motd
multics/filesystem/sc1/*.pdt
multics/filesystem/sc1/system_administrator_table
multics/filesystem/sc1/PNT.pnt
multics/filesystem/sc1/whotab
multics/filesystem/sc1/login_journal
multics/filesystem/sc1/system_search_rules
